src/main/resources/log4j2-spring.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Configuration">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Properties">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="property" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="name" use="required" />
									<xs:attribute name="value" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Appenders">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Console">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PatternLayout">
											<xs:complexType>
												<xs:attribute name="pattern" use="required" />
												<xs:attribute name="disableAnsi" type="xs:boolean" use="required" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="name" use="required" />
									<xs:attribute name="target" use="required" />
								</xs:complexType>
							</xs:element>
							<xs:element name="RollingFile">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PatternLayout">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="pattern" type="xs:string" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Policies">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="OnStartupTriggeringPolicy" />
													<xs:element name="SizeBasedTriggeringPolicy">
														<xs:complexType>
															<xs:attribute name="size" use="required" />
														</xs:complexType>
													</xs:element>
													<xs:element name="TimeBasedTriggeringPolicy" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="name" use="required" />
									<xs:attribute name="fileName" use="required" />
									<xs:attribute name="filePattern" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Loggers">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Root">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="AppenderRef" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="ref" use="required" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="level" use="required" />
								</xs:complexType>
							</xs:element>
							<xs:element name="logger">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="appender-ref" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="ref" use="required" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="name" use="required" />
									<xs:attribute name="level" use="required" />
									<xs:attribute name="additivity" type="xs:boolean" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>